html, body, #root {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f0f2f5;
}

/* The main content area should grow */
.main-content {
  flex: 1; /* takes all remaining space */
}
