.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ff3e6c;
  padding: 12px 25px;
  color: white;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.navbar .logo {
  font-size: 20px;
  font-weight: bold;
}

.navbar .nav-links a {
  margin-left: 20px;
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: 0.2s;
}

.navbar .nav-links a:hover {
  text-decoration: underline;
}
